<div class="auth">
  <div class="auth__card">
    <div class="auth__card-header">
      <div class="text-center">
        <h2 class="heading-secondary">
          Register
        </h2>
      </div>
    </div>
    <form class="form" action="/users/register" method="POST">
      <div class="auth__card-body">
        <div class="form__group">
          <input type="name" name="name" id="name" class="form__control" value="{{name}}" placeholder="Full Name">
          <label for="name" class="form__label">Full Name</label>
        </div>
        <div class="form__group">
          <input type="username" value="{{username}}" name="username" id="username" class="form__control"
            placeholder="User Name">
          <label for="username" class="form__label">User Name</label>
        </div>
        <div class="form__group">
          <input type="email" name="email" value="{{email}}" id="email" class="form__control"
            placeholder="Email Address">
          <label for="email" class="form__label">Email Address</label>
        </div>
        <div class="form__group">
          <input type="password" name="password" value="{{password}}" id="password" class="form__control"
            placeholder="Password">
          <label for="password" class="form__label">Password</label>
        </div>
        <div class="form__group">
          <input type="password" name="confirm_password" value="{{confirm_password}}" id="confirm_password"
            class="form__control" placeholder="Confirm Password">
          <label for="confirm_password" class="form__label">Confirm Password</label>
        </div>

      </div>
      <div class="auth__card-action">
        <input type="submit" value="Register" class="btn btn--block btn--primary">
        <div class="text-center mt-2 mb-2">
          <a href="/users/login" class="btn btn--link btn--block">Have an acount! Log In</a>
        </div>
      </div>
    </form>
  </div>
</div>